<div class='row'>
  <form id="searchForm">
    <div class='form-group has-feedback'>
      <label for="search">Search</label>
      <div class='input-group'>
        <span class="input-group-addon"><i class='glyphicon glyphicon-search'></i></span>
        <input type="search" class='form-control' id='search' placeholder="Search..."></input>
        <i id="searchSpinner" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
      </div>
    </div>
  </form>
</div>
 
<div class='row'>
  <table id="searchResults">
 
  </table>
</div>
 
<script src="/js/search-index.min.js" type="text/javascript"></script>
<script src="/js/search.min.js" type="text/javascript" ></script>